.modal{
    border: 2px solid;
    width: 70%;
    height:400px;
    position: absolute;
    margin: 5%;
    padding: 5%;
    background-color: #f7fbfb;
    border-radius: 10px ;
}
.closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.formClass{
    display: flex;
    gap: 7px;
    flex-direction: column;
}
.modalShow{
    display: block;
}
.modalHide{
    display: none;
}

.btn{
    padding: 10px;
    margin: 5px;
    border: none;
    color: white;
    background-color: #123456;
    font-size: 18px;
    cursor: pointer;
}
.inputForm{
    padding: 5px;
}